body {
  background-color: black;
}

p {
  color: green;
}

h3 {
  color: lime;
  font-size: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 9em; 
}

.teaser {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 70 ;
}

.game {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.iframe {
  display:inline-block;
}